.ledger {
    display: flex;
    width: max-content;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 7.5px;
}

body {
    background: rgb(202, 202, 202)
}

.centralize { 
    display: flex;
    align-items: center;
    justify-content: center;
}

.hide {
    visibility: hidden;
    position: absolute;
}
