body {
    background: rgb(202, 202, 202);
}

.centralize { 
    display: flex;
    align-items: center;
    justify-content: center;
}

.hide {
    visibility: hidden;
    position: absolute;
}

.alone {
    width: min-content;
}
