@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;300;400&family=Secular+One&display=swap');

.entry {
    /*background: radial-gradient(185.83% 185.83% at 50% 50%, #F3F3F3 0%, #CBCBCB 100%);
    filter: drop-shadow(0px 4px 1px rgba(0, 0, 0, 0.2));
    border-radius: 20px;
    */

    font-family: 'League Spartan', sans-serif;

    padding: 0 20px;
    width: min-content;

    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-between;

    background-color: #faf4f4;
    border-bottom: 2px solid #797979;
    font-weight: bold;
}

.entry > .body {
    display: flex;
    flex-wrap: nowrap;
    height: 50px;
    gap: 10px;
    align-items: center;
}

.entry > .body > .indicator {
    color: white;
    padding: 5px 12.5px;
    /*border-radius: 10px; */
    font-weight: bold;
    height: fit-content;;
}

.entry > .body > .amount {
    --radius: 5px;
    border-radius: 0 var(--radius) var(--radius) 0;
}

.entry > .body > .operation {
    --radius: 5px;
    border-radius: var(--radius) 0 0 var(--radius);
}

.entry > .body >.text {
    height: inherit;
    color: #797979;
    font-weight: bold;
    width: max-content;
}

.entry > .body > .button {
    --length: 20px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-self: flex;

    width: var(--length);
    height: var(--length);
    border-radius: calc(var(--length) / 2);
    background-color: #ffffff;
}

.entry > .body > .button > .c {
    --pixels: 4px;
    width: var(--pixels);
    height: var(--pixels);
    border-radius: calc(var(--pixels) / 2);
    background-color: #797979
}

.entry > .body > .button > .i {
    --width: 4px;
    --height: 8px;
    width: var(--width);
    height: var(--height);
    border-radius: calc(var(--height) / 2);
    background-color: #797979
}
