@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;300;400&family=Secular+One&display=swap');

:root {
    --background: #f4f4f4;
    --fonts: #5c5c5c;
    --color: #aeaeae;
    --buttonLength: 20px;
    --indicatorsRadius: 5px;
    --buttonWidth: 4px;
    --buttonHeight: 8px;
    --padding: 15px;
    --main: 20px;
    --title: 18px;
    --note: 16px;
    --minimum-indicators-width: 175px;
    --direction: row;
}

.entry {
    background-color: var(--background);

    font-family: 'League Spartan';
    font-size: var(--main);
    color: black;

    padding: var(--padding);

    display: flex;
    flex-direction: column;
    gap: calc(var(--padding) / 2);
}

.body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.container {
    display: flex;
    flex-direction: var(--direction);
    align-items: center;
    width: 100%;
    gap: 10px;
    justify-content: space-between;
}

.indicators {
    color: white;
    font-size: var(--title);
    font-weight: bold;

    width: min-content;
    height: min-content;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3.5px;
}

.indicator {
    height: fit-content;
    padding: 4px 10px;

    color: white;
    font-size: var(--title);
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;
}

.operation {
    padding: 4px 10px;
    border-radius: var(--indicatorsRadius) 0 0 var(--indicatorsRadius);
}

.amount {
    padding: 4px 20px;
    border-radius: 0 var(--indicatorsRadius) var(--indicatorsRadius) 0;
}

.text {
    width: max-content;
    height: min-content;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: end;
}

.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;

    height: min-content;
}

.circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;

    width: var(--buttonLength);
    height: var(--buttonLength);
    border-radius: calc(var(--buttonLength) / 2);
    background-color: #ffffff;
}

.c {
    width: var(--buttonWidth);
    height: var(--buttonWidth);
    border-radius: calc(var(--buttonWidth) / 2);
    background-color: #797979
}

.i {
    width: var(--buttonWidth);
    height: var(--buttonHeight);
    border-radius: calc(var(--buttonHeight) / 2);
    background-color: #797979
}

.note {
    display: flex;
    flex-direction: column;
    gap: calc(var(--padding) / 2)
}

.header {
    display: flex;
    align-items: center;
}

.line {
    height: 1px;
    width: 10px;
    background-color: var(--fonts);
    flex: content;
}

.title {
    font-size: var(--title);
    padding: 0 var(--padding);
    width: max-content;
}

.content {
    font-size: var(--note);
    color: var(--fonts);
    word-wrap: break-word;

    display: flex;
    justify-content: center;
    text-align: justify;
}

.info {
    font-size: var(--note);
    color: var(--fonts);

    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px
}

.name {
    color: var(--fonts);
}

.table {
    width: inherit;
}

table {
    width: inherit;
    table-layout: fixed;
    text-align: center;
}

caption {
    padding: 5px 0;
}

th {
    color: black;
    font-size: var(--title);
}

td {
    padding: 4px;
}

/** 
<div class="entry hide">
    <div class="body">
        <div class='indicators'>
            <div class="indicator operation" style="background-color: rgb(234, 197, 3);">D</div>
            <div class="indicator amount" style="background-color: rgb(112, 112, 112);">R$&nbsp;10,00</div>
        </div>
        <div class="text">Enzo donated to Doações</div>
        <div class="button">
            <div class="c"></div>
            <div class="i"></div>
        </div>
    </div>
    <div class="note">
        <div class="title"><hr><div class="header">Note</div><hr></div>
        <div class="content">Everyone donates R$ 10,00 to the initial investment</div>
    </div>
</div>

*/